/* {
  border: 1px solid black;
}*/

body {
  padding: 0;
  margin: 0;
}

.app-title {
  text-align: center;
  font-family: "Jost", sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;
  gap: 20px;

  padding-bottom: 10px;
}

.information {
  border: 1px solid black;

  overflow: auto;
  padding: 15px 50px;
  width: 260px;

  box-shadow: 2px 2px 8px rgb(0, 0, 0);

  font-family: "Jost", sans-serif;
}
.page {
  word-break: break-all;

  border: 1px solid black;

  padding: 48px 35px;
  background-color: #fff;
  width: 7.5in;
  height: 9in;

  font-family: Arial, Helvetica, sans-serif;

  box-shadow: 2px 2px 8px rgb(0, 0, 0);
}

/* Sections */

.section-title {
  text-align: center;
}

.section-title:hover {
  border-bottom: 5px solid black;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  box-sizing: border-box;
}

.dropdown-menu {
  padding: 15px;
  animation: expand 250ms ease-in-out;
  transform-origin: top;
}

@keyframes expand {
  0% {
    transform: scaleY(0);
  }

  70% {
    transform: scaleY(1.1);
  }

  100% {
    transform: scaleY(1);
  }
}

/* Page layout */

/* Personal Info */

.page section {
  padding: 0;
  margin: 15px;
  text-align: center;
}

.name {
  font-size: 2.5rem;
}

.head {
  font-size: 2rem;
}

.contact {
  display: flex;
  justify-content: space-evenly;

  padding: 0;
  margin: 0;
}

.contact p {
  margin: 0;
}

/* Education */
.education {
  text-align: center;
}

.education h4 {
  padding: 0;
  margin: 0;
}

/* Work */
.job {
  padding: 10px;
  margin: 0 0 15px 0;

  text-align: center;
}

.job h3 {
  margin: 3px;
}

.job h4 {
  margin: 3px;
}

.job p {
  margin: 3px;
}

/* Job */
.job-form {
  padding: 0;
  margin: 0;

  text-align: center;
}

.job-title {
  text-align: center;
  padding: 10px 70px;

  border: 1px solid black;
}

.job-title:hover {
  background-color: black;
  color: #fff;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }

  .information {
    width: auto;
    padding: 35px;
  }

  .page {
    width: auto;
  }
}
